In [1]:
import numpy as np
import pandas as pd
import xarray as xr
from joblib import dump, load
from sklearn.model_selection import train_test_split
import math as mt
from math import e
from sklearn.preprocessing import StandardScaler

In [2]:
# Read Orography
OroData = xr.open_dataset('../../../Data/eraDown/ERA5_2degree_Down/DailyMean/ERA5IGP_Orography.nc')

In [3]:
#Surface data
t2mData = xr.open_dataset('../../../Data/CMIP6/ACCESS-CM2/tasNHRegrid_NDJFday_ACCESS-CM2_historical_r1i1p1f1_gn_19500101-20141231.nc')
rhData  = xr.open_dataset('../../../Data/CMIP6/ACCESS-CM2/hursNHRegrid_NDJFday_ACCESS-CM2_historical_r1i1p1f1_gn_19500101-20141231.nc')
u10Data = xr.open_dataset('../../../Data/CMIP6/ACCESS-CM2/uasNHRegrid_NDJFday_ACCESS-CM2_historical_r1i1p1f1_gn_19500101-20141231.nc')
v10Data = xr.open_dataset('../../../Data/CMIP6/ACCESS-CM2/vasNHRegrid_NDJFday_ACCESS-CM2_historical_r1i1p1f1_gn_19500101-20141231.nc')

In [4]:
# Level Data
tLevData = xr.open_dataset('../../../Data/CMIP6/ACCESS-CM2/taNHRegrid_NDJFday_ACCESS-CM2_historical_r1i1p1f1_gn_19500101-20141231.nc')
zLevData = xr.open_dataset('../../../Data/CMIP6/ACCESS-CM2/zgNHRegrid_NDJFday_ACCESS-CM2_historical_r1i1p1f1_gn_19500101-20141231.nc')
wLevData = xr.open_dataset('../../../Data/CMIP6/ACCESS-CM2/wapNHRegrid_NDJFday_ACCESS-CM2_historical_r1i1p1f1_gn_19500101-20141231.nc')
uLevData = xr.open_dataset('../../../Data/CMIP6/ACCESS-CM2/uaNHRegrid_NDJFday_ACCESS-CM2_historical_r1i1p1f1_gn_19500101-20141231.nc')

In [19]:
t2mD = t2mData.sel(latitude=slice(32,24),longitude=slice(74,86))
u10D = u10Data.sel(latitude=slice(32,24),longitude=slice(74,86))
v10D = v10Data.sel(latitude=slice(32,24),longitude=slice(74,86))
rhD  = rhData.sel(latitude=slice(32,24),longitude=slice(74,86))
tLevD = tLevData.sel(latitude=slice(32,24),longitude=slice(74,86))
uLevD = uLevData.sel(latitude=slice(32,24),longitude=slice(74,86))
w700D = wLevData.sel(latitude=slice(32,24),longitude=slice(74,86)).sel(plev=70000,method='nearest')
zLevD = zLevData.sel(latitude=slice(32,24),longitude=slice(74,86))
OroD = OroData.sel(latitude=slice(32,24),longitude=slice(74,86))
#w700D

In [10]:
# Calculate wind speed and relative humidity inv  ushear
ws = ((v10D.vas.values**2)+(u10D.uas.values**2))**0.5
ws_ds = xr.Dataset({'ws': (('time','latitude','longitude'), ws)},
                   coords={'time': v10D.time,'latitude': v10D.latitude,'longitude': v10D.longitude})

rh_ds = xr.Dataset({'rh': (('time','latitude','longitude'), rhD.hurs)},
                   coords={'time': v10D.time,'latitude': v10D.latitude,'longitude': v10D.longitude})

#Calculate inv
inv=t2mD.tas.values-tLevD.ta.sel(plev=85000,method='nearest').values
inv_ds = xr.Dataset({'inv': (('time','latitude','longitude'), inv)}, 
                    coords={'time': v10D.time,'latitude': v10D.latitude,'longitude': v10D.longitude})
inv_ds.attrs
inv_ds.attrs['units']='K'
inv_ds.attrs['long_name']='t2m - t850'

#u shear calculation
ushear=(uLevD.ua.sel(plev=85000,method='nearest').values-u10D.uas.values)/(zLevD.zg.sel(plev=85000,method='nearest').values) 
ushear_ds = xr.Dataset({'ushear': (('time','latitude','longitude'), ushear)}, 
                       coords={'time': v10D.time,'latitude': v10D.latitude,'longitude': v10D.longitude})
ushear_ds.attrs['units']='s-1'
ushear_ds.attrs['long_name']='(u10 - u850)/z850'

In [11]:
AOData = xr.open_dataset('ACCESS-CM2-AOindex-NDJF-Daily-1980-2014.nc')
AO5D=AOData.AO.rolling(time=5).mean()

AO5DAll=AO5D[((AO5D.time.dt.month>11) | (AO5D.time.dt.month<2)) & 
             (AO5D.time.dt.year<2020)].sel(time=slice('1980-1-1','2018-12-31'))
#ao

In [12]:
EUData = xr.open_dataset('ACCESS-CM2-EUindex-NDJF-Daily-1980-2014.nc')
EU5D=EUData.EU.rolling(time=5).mean()

EU5DAll=EU5D[((EU5D.time.dt.month>11) | (EU5D.time.dt.month<2)) & 
             (EU5D.time.dt.year<2020)].sel(time=slice('1980-1-1','2018-12-31'))

In [13]:
# create mask
oro = OroD.z
oro.values = OroD.z.values/9.81
oro.attrs
oro.attrs['units']='meter'
oro.attrs['long_name']='Orography'
oro.values[oro.values>500.1]=np.NaN
mask=oro.values/oro.values

In [20]:
# Apply Mask 
t2mD.tas.values=t2mD.tas.values*mask
ws_ds.ws.values=ws_ds.ws.values*mask
rh_ds.rh.values=rh_ds.rh.values*mask
w700D.wap.values=w700D.wap.values*mask
inv_ds.inv.values=inv_ds.inv.values*mask
ushear_ds.ushear.values=ushear_ds.ushear.values*mask

In [21]:
# Feild mean
t2mTS1=t2mD.mean(dim=['latitude','longitude'], skipna=True).tas
wsTS1=ws_ds.mean(dim=['latitude','longitude'], skipna=True).ws
rhTS1=rh_ds.mean(dim=['latitude','longitude'], skipna=True).rh
wTS1=w700D.mean(dim=['latitude','longitude'], skipna=True).wap
invTS1=inv_ds.mean(dim=['latitude','longitude'], skipna=True).inv
ushearTS1=ushear_ds.mean(dim=['latitude','longitude'], skipna=True).ushear

In [22]:
# shift one day so we can take values of previous day
t2mTS=t2mTS1.shift(time=1)
wsTS=wsTS1.shift(time=1)
rhTS=rhTS1.shift(time=1)
wTS=wTS1.shift(time=1)
invTS=invTS1.shift(time=1)
ushearTS=ushearTS1.shift(time=1)

In [25]:
# Select required time 
t2m=t2mTS[((t2mTS.time.dt.month>11) | (t2mTS.time.dt.month<2)) & (t2mTS.time.dt.year<2020)].sel(time=slice('1980-1-1','2014-12-31'))
ws=wsTS[((wsTS.time.dt.month>11) | (wsTS.time.dt.month<2)) & (wsTS.time.dt.year<2020)].sel(time=slice('1980-1-1','2014-12-31'))
inv=invTS[((wsTS.time.dt.month>11) | (wsTS.time.dt.month<2)) & (wsTS.time.dt.year<2020)].sel(time=slice('1980-1-1','2014-12-31'))
rh=rhTS[((wsTS.time.dt.month>11) | (wsTS.time.dt.month<2)) & (wsTS.time.dt.year<2020)].sel(time=slice('1980-1-1','2014-12-31'))
w=wTS[((wsTS.time.dt.month>11) | (wsTS.time.dt.month<2)) & (wsTS.time.dt.year<2020)].sel(time=slice('1980-1-1','2014-12-31'))
ushear=ushearTS[((wsTS.time.dt.month>11) | (wsTS.time.dt.month<2)) & (wsTS.time.dt.year<2020)].sel(time=slice('1980-1-1','2014-12-31'))

In [32]:
X       = pd.DataFrame([t2m.values,ws.values,rh.values/100.0,inv.values,w.values,ushear.values*100.0,AO5DAll.values,
                        EU5DAll.values],
                       index=['t2m', 'ws', 'rh','inv', 'w', 'ushear', 'AO5D', 'EU5D']).T[:]
X.index = pd.to_datetime(t2m.time.values)
X

,t2m,ws,rh,inv,w,ushear,AO5D,EU5D
1980-01-01 12:00:00,287.835419,1.992994,0.649490,3.683144,-0.323725,-0.052927,0.293544,0.218703
1980-01-02 12:00:00,286.805634,1.438342,0.698848,5.194760,-0.120035,0.055923,0.277866,0.311771
1980-01-03 12:00:00,286.571198,1.002171,0.711040,5.486463,-0.038043,0.013428,0.237122,0.290400
1980-01-04 12:00:00,285.969238,1.279983,0.690875,5.703464,0.014991,0.093148,0.154861,0.342755
1980-01-05 12:00:00,285.157318,1.383340,0.638006,5.482233,0.057823,0.118376,0.145196,0.314556
...,...,...,...,...,...,...,...,...
2014-12-27 12:00:00,288.484833,1.005047,0.516293,2.105434,0.139995,0.177588,-1.094138,0.385951
2014-12-28 12:00:00,288.743774,0.690984,0.519789,2.027498,0.071734,0.110451,-1.101490,0.117640
2014-12-29 12:00:00,288.999908,1.193121,0.542678,2.165318,-0.028530,0.050899,-1.061554,-0.195762
2014-12-30 12:00:00,288.967865,1.025068,0.555588,1.799814,0.023319,0.049381,-1.002125,-0.359194
2014-12-31 12:00:00,288.864899,0.805766,0.554473,1.683061,0.064815,0.129883,-0.968404,-0.277980

In [37]:
norm = StandardScaler().fit(X)
    # transform training data
X = norm.transform(X)
X
X = pd.DataFrame(norm.transform(X))
X.index = pd.to_datetime(t2m.time.values)
X

,0,1,2,3,4,5,6,7
1980-01-01 12:00:00,-142.092939,2.249631,2.068252,-1.482981,-35.603510,-14.697806,0.179720,0.831696
1980-01-02 12:00:00,-142.342069,-1.661680,4.257279,-0.875368,-14.042696,-7.275519,0.164641,1.121751
1980-01-03 12:00:00,-142.398784,-4.737483,4.797971,-0.758114,-5.363756,-10.173193,0.125454,1.055146
1980-01-04 12:00:00,-142.544413,-2.778403,3.903654,-0.670888,0.249889,-4.737259,0.046339,1.218313
1980-01-05 12:00:00,-142.740836,-2.049543,1.558911,-0.759815,4.783743,-3.016980,0.037043,1.130430
...,...,...,...,...,...,...,...,...
2014-12-27 12:00:00,-141.935830,-4.717203,-3.839036,-2.117161,13.481723,1.020561,-1.154912,1.352939
2014-12-28 12:00:00,-141.873186,-6.931919,-3.683981,-2.148488,6.256228,-3.557403,-1.161983,0.516724
2014-12-29 12:00:00,-141.811221,-3.390936,-2.668894,-2.093089,-4.356869,-7.618114,-1.123574,-0.460024
2014-12-30 12:00:00,-141.818973,-4.576018,-2.096327,-2.240008,1.131478,-7.721617,-1.066416,-0.969372
2014-12-31 12:00:00,-141.843883,-6.122499,-2.145749,-2.286939,5.523826,-2.232362,-1.033985,-0.716263

In [38]:
regLin=load('../../March2021/Observation_models/LRModel.joblib')

In [39]:
yLR=regLin.predict(X)
y_predLin_ds=xr.Dataset({'yLR': (('time'), yLR)}, coords={'time': t2m.time})

In [40]:
dump(y_predLin_ds.yLR,'../Model_plots/ACCESS-CM2-LR-Y.joblib')

['../Model_plots/ACCESS-CM2-LR-Y.joblib']